#
# udev rules file 
#
#

#SUBSYSTEM!="usb_device", GOTO="phone_rules_end"
#ACTION!="add", GOTO="phone_rules_end"KERNEL=="sr*",SUBSYSTEMS=="scsi"
#ACTION!="remove", GOTO="phone_rules_end",KERNEL=="scd*",NAME="%k", ACTION=="add",
#################
#################
#autorun#
SUBSYSTEMS=="usb", ACTION=="add", SYSFS{idVendor}=="19d2",SYSFS{idProduct}=="2000", MODE="0666", RUN+="/bin/launch-gui.sh"
SUBSYSTEMS=="usb", ACTION=="add", SYSFS{idVendor}=="19d2",SYSFS{idProduct}=="0053", MODE="0666", RUN+="/bin/launch-gui.sh"
SUBSYSTEMS=="usb", ACTION=="remove", RUN+="/bin/launch-gui.sh"
#################
#################


#################
#################
#guolv driver
SUBSYSTEM=="block", \
SYSFS{idVendor}=="19d2", \
SYSFS{idProduct}=="0053", \
SYMLINK+="ZTECdrom",\
RUN+="/usr/bin/eject /dev/ZTECdrom"

SUBSYSTEM=="block", \
SYSFS{idVendor}=="19d2", \
SYSFS{idProduct}=="2000", \
SYMLINK+="ZTECdrom",\
RUN+="/usr/bin/eject /dev/ZTECdrom"
#################
#################


#################
#################
#create MODEMCONNECTION
BUS=="usb",KERNEL=="sr[0-9]*", GROUP="cdrom",SYSFS{idVendor}=="19d2", SYSFS{idProduct}=="2000",SYMLINK+="MODEMCONNECTION",MODE="0666", RUN+=""
BUS=="usb",KERNEL=="sr[0-9]*", GROUP="cdrom",SYSFS{idVendor}=="19d2", SYSFS{idProduct}=="0053",SYMLINK+="MODEMCONNECTION",MODE="0666", RUN+=""
#################
#################

LABEL="phone_rules_end"


